.btn {
  border: none;
  color: $grey-light;
  border-radius: 5px;
  padding: 0.7rem 4rem;
  cursor: pointer;
  text-decoration: none;

  &--primary {
    background-color: $purple-medium;
  }

  &--secondary {
    background-color: $brown-light;
  }
}
