.btn {
  border: none;
  color: $grey-light;
  border-radius: 5px;
  padding: 7px 32px;
  cursor: pointer;
  text-decoration: none;

  &--primary {
    background-color: $purple-medium;
  }

  &--secondary {
    background-color: $brown-light;
  }

  &--tertiary {
    background-color: $grey-medium;
    width: 80px;
    height: 42px;
    padding: 2px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background-color: $purple-light;
      border-radius: 5px;
      z-index: -1;
    }

    &--active {
      &::before {
        left: -6px;
        opacity: 1;
      }
    }
  }

  &--fom-icon {
    border-radius: 0px;
    padding: 1px;
    height: 35px;
    width: 45px;
    background-color: $grey-medium;
    border-bottom: 2px solid $grey-light;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--icon {
    background-color: transparent;
  }
}
