.btn {
  border: none;
  color: $grey-light;
  border-radius: 5px;
  padding: 7px 32px;
  cursor: pointer;
  text-decoration: none;

  &:focus {
    outline: 2px solid $purple-light;
  }

  &--primary {
    background-color: $purple-medium;
  }

  &--secondary {
    background-color: $brown-light;
  }

  &--tertiary {
    background-color: $grey-medium;
    width: 80px;
    height: 42px;
    padding: 2px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background-color: $purple-light;
      border-radius: 5px;
      z-index: -1;
    }

    &--active {
      &::before {
        left: -6px;
        opacity: 1;
      }
    }
  }

  &--nav {
    background-color: transparent;
    padding: 0;
    margin: 0;
    height: 75px;
    width: 75px;

    &:hover {
      background-color: rgba($grey-light, 0.15);
    }
  }

  &--form-icon {
    border-radius: 0px;
    padding: 1px;
    height: 35px;
    width: 45px;
    background-color: $grey-medium;
    border-bottom: 2px solid $grey-light;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      pointer-events: none;
    }
  }

  &--icon {
    background-color: transparent;
    height: 45px;
    width: 35px;
    padding: 0;
  }

  &--pagination {
    height: 28px;
    width: 28px;
    padding: 2px;
    background-color: $brown-light;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      background-color: $purple-light;
      border-radius: 5px;
      z-index: -1;
    }

    &--active {
      &::before {
        left: -4px;
        opacity: 1;
      }
    }
  }
}
