.c-calculator-capital {
  width: 800px;
  background-color: $grey-dark;
  border-radius: 10px;
  padding: 30px;

  &__heading {
    @include ts-heading-2;
  }

  &__form-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 40px;
  }

  &__action-wrapper,
  &__amount-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  &__inputs-wrapper {
    display: flex;
    margin-top: 10px;
  }

  &__action-text,
  &__amount-text {
    @include ts-body;
  }

  &__amount-input {
    margin-top: 10px;
  }

  &__action-sign {
    padding: 6px 16px;
    background-color: $grey-medium;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__action-sign {
    margin-right: 20px;
  }

  &__button {
    align-self: flex-end;
  }

  &__message {
    @include ts-body;
    margin-top: 30px;
  }

  &__message-number {
    @include ts-numerical;
  }
}
