.c-chart-performance {
  background-color: $grey-dark;
  // background-color: blue;
  grid-column: 1 / span 3;
  grid-row: 1 / span 6;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
  }

  &__heading {
    @include ts-heading-2;
    margin-top: 20px;
    flex-grow: 0;
  }

  &__button-wrapper {
    top: 0;
    right: 0;
    position: absolute;
    z-index: 2;
  }

  &__button {
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
  }

  &__canvas {
    margin-top: 10px;
    width: 100%;
    flex-grow: 1;
  }
}
