.c-input-text {
  background-color: $grey-medium;
  border: none;
  border-bottom: 2px solid $grey-light;
  color: $grey-light;
  padding: 0.8rem 1rem;
  &:focus {
    outline: none;
    border-bottom: 2px solid $purple-medium;
  }
}
