.c-input-text {
  background-color: $grey-medium;
  border: none;
  border-bottom: 2px solid $grey-light;
  color: $grey-light;
  padding: 8px 10px;

  &:focus {
    outline: none;
    border-bottom: 2px solid $purple-medium;
  }

  &::placeholder {
    color: $brown-light;
    opacity: 1;
  }

  &--no-border {
    border: none;
    width: 80px;
  }

  &--compact {
    background-color: $grey-dark;
    border-bottom: 2px solid transparent;
    width: 100px;
    padding: 8px;

    &::placeholder {
      color: $grey-light;
      opacity: 1;
    }
  }

  &--activated {
    background-color: $grey-medium;
    border: none;
    border-bottom: 2px solid $grey-light;
    color: $grey-light;
    padding: 8px;
  }
}
