.c-journal-form {
  background-color: $grey-dark;
  height: 100%;
  border-radius: 10px;
  padding: 10px 18px 14px;

  @media only screen and (max-width: $bp-largest) {
    padding: 10px;
  }

  & input {
    margin-top: 10px;
    text-align: center;
  }

  &__upper-region,
  &__middle-region {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__middle-region {
    margin-top: 5px;
    justify-content: space-around;
  }

  &__unit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & span:last-child {
      margin-top: 10px;
    }
  }

  &__data,
  &__entry,
  &__exit,
  &__size,
  &__entries-label,
  &__entries-label-result,
  &__exits-label,
  &__exits-label-result,
  &__average-entry,
  &__average-exit {
    @include ts-numerical;
  }

  &__entries-label-result,
  &__exits-label-result {
    display: inline-block;
    margin-top: 10px;
  }

  &__entry,
  &__exit {
    margin-right: 5px;
  }

  &__size {
    margin-left: 5px;
  }

  &__date {
    @include ts-date;
  }

  &__entries-wrapper,
  &__exits-wrapper,
  &__entries-shares-wrapper,
  &__exits-wrapper,
  &__exits-shares-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  &__entries-labels-wrapper,
  &__exits-labels-wrapper {
    display: flex;
    justify-content: space-around;
  }

  &__entries-inner-wrapper,
  &__exits-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__trade-side-wrapper {
    display: flex;
    align-items: flex-end;
  }

  &__swap {
    margin-left: 10px;
  }

  &__plus-entry,
  &__plus-exit {
    margin-top: 10px;
    align-self: center;
  }

  &__text-area {
    @include ts-numerical;
    margin: 20px auto 0;
    width: 96%;
    padding: 10px;
    background-color: $grey-medium;
    border: none;
    border-radius: 10px;
  }

  &__buttons-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 14px;
  }

  &__button-save,
  &__button-cancel {
    margin: 0 10px;
  }

  &__hidden-el {
    opacity: 0;
    pointer-events: none;
  }
}
