.c-pie-streak {
  background-color: $grey-dark;
  grid-column: 4 / -1;
  grid-row: 1 / span 6;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media only screen and (max-width: $bp-largest) {
    padding: 12px;
  }

  @media only screen and (max-width: $bp-large) {
    grid-column: 4 / -1;
    grid-row: 7 / -1;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1;
    grid-row: 4 / -1;
    flex-direction: row;
  }

  & h3,
  p,
  span {
    @media only screen and (max-width: $bp-large) {
      margin-top: 10px;
    }
  }

  &__total-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
    }

    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
      gap: 1rem;
    }
  }

  &__heading,
  &__win-heading,
  &__loss-heading,
  &__streak-profit-heading,
  &__streak-loss-heading {
    @include ts-heading-2;
    text-align: left;

    @media only screen and (max-width: $bp-medium) {
      text-align: center;
    }
  }

  &__heading {
    @media only screen and (max-width: $bp-large) {
      margin-top: 8px !important;
    }
  }

  &__total,
  &__streak-profit-total,
  &__streak-loss-total {
    @include ts-numerical;
    @include ts-emphasis;
    border-radius: 10px;
    border: 2px solid $purple-light;
    display: inline-block;
    padding: 6px 20px;
    color: $purple-light;
  }

  &__streak-profit-total {
    color: $green-light;
    border: 2px solid $green-light;
  }

  &__streak-loss-total {
    color: $red-light;
    border: 2px solid $red-light;
  }

  &__visualisation-wrapper {
    height: 150px;
    display: flex;
    justify-content: flex-start;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
      height: 250px;
    }

    @media only screen and (max-width: $bp-medium) {
      align-self: center;
    }
  }

  &__canvas {
    height: 100%;
    width: 50%;
    background-color: $grey-dark;
    justify-self: flex-start;

    @media only screen and (max-width: $bp-large) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__legend-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    justify-self: flex-end;

    @media only screen and (max-width: $bp-large) {
      flex-direction: row;
      width: 100%;
    }
  }

  &__legend-long-wrapper,
  &__legend-short-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__legend-long-label,
  &__legend-long-numbers,
  &__legend-short-label,
  &__legend-short-numbers {
    @include ts-numerical;
  }

  &__legend-long-numbers,
  &__legend-short-numbers {
    margin-top: 10px;
  }

  &__win-wrapper,
  &__loss-wrapper {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
      align-items: center;
    }

    @media only screen and (max-width: $bp-medium) {
      justify-content: flex-start;
      gap: 2rem;
    }
  }

  &__win-inner-wrapper,
  &__loss-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    @media only screen and (max-width: $bp-medium) {
      align-items: center;
    }
  }

  &__win-date,
  &__loss-date {
    @include ts-date;
  }

  &__win-streak-total,
  &__loss-streak-total {
    @include ts-numerical;
    @include ts-emphasis;
    color: $green-light;
    border: 2px solid $green-light;
    border-radius: 50%;
    display: inline-block;
    padding: 10px 14px;
  }

  &__loss-streak-total {
    color: $red-light;
    border: 2px solid $red-light;
  }

  &__streak-profit-wrapper,
  &__streak-loss-wrapper {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
    }

    @media only screen and (max-width: $bp-medium) {
      justify-content: flex-end;
      gap: 2rem;
      margin-top: 0;
      margin-bottom: 14px;
    }
  }
}
