.c-table-profitable {
  background-color: $grey-dark;
  // background-color: purple;
  grid-column: 1 / span 2;
  grid-row: 8 / -1;
  border-radius: 10px;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / span 3;
    grid-row: 8 / span 5;
  }
}
