.s-calculators {
  min-height: 100vh;
  min-height: 100svh;
  padding: 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    @include ts-heading-1;
    margin-top: 30px;
    flex-grow: 0;
  }

  &__wrapper {
    margin-top: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
