.s-content {
  flex-direction: column;
  margin-left: 75px;
  position: relative;

  &__loading-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $grey-dark;
    background: linear-gradient(
      0deg,
      rgba(#0f0d0f, 1) 0%,
      rgba(#111010, 1) 50%,
      rgba(#0f0d0f, 1)
    );
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      animation: rotate 5s linear infinite;
    }
  }

  &__no-data {
    &::after {
      display: flex;
      justify-content: center;
      content: url('../img/no-data-message.png');
      vertical-align: middle;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      padding-top: 10%;
      background-color: $grey-dark;
      z-index: 8;
      border-radius: 10px;
    }
  }

  &__popup-single-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($black, 0.4);
    z-index: 12;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in;
  }

  &__popup--active {
    display: flex;
    opacity: 1;
  }

  &__popup-wrapper {
    min-height: 350px;
    min-width: 450px;
    background-color: $grey-dark;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    border: 2px solid $purple-light;
  }

  &__popup-text {
    color: $grey-light;
  }

  &__popup-btn-wrapper {
  }

  &__popup-btn {
  }
}
