.s-help {
  min-height: 100vh;
  text-align: center;

  &__heading {
    @include ts-heading-1;
    margin-top: 30px;
  }

  &__content-wrapper {
    width: 90%;
    max-width: 1500px;
    min-width: 900px;
    margin: 20px auto 0;
    display: flex;

    @media only screen and (max-width: $bp-large) {
      width: 100%;
      padding: 10px;
    }
  }

  &__guide,
  &__glossary {
    width: 50%;
  }

  &__guide {
    margin: 10px 20px 10px 0;

    @media only screen and (max-width: $bp-largest) {
      margin: 10px;
    }
  }

  &__glossary {
    margin: 10px 0 10px 20px;

    @media only screen and (max-width: $bp-largest) {
      margin: 10px;
    }
  }

  &__guide-heading,
  &__glossary-heading {
    @include ts-heading-2;

    & + p,
    & + div {
      margin-top: 40px;
    }
  }

  &__guide-body,
  &__glossary-body {
    @include ts-body;
    margin-top: 20px;
    text-align: left;
  }

  &__glossary-body {
    &:first-child {
      margin-top: 0;
    }
  }

  &__guide-img {
    margin-top: 20px;
    max-width: 100%;
  }

  &__glossary-keyword-wrapper {
    display: flex;
    align-items: center;
    margin-top: 30px;

    @media only screen and (max-width: $bp-largest) {
      flex-direction: column;
    }
  }

  &__glossary-keyword {
    @include ts-emphasis;
  }

  &__glossary-img {
    height: auto;
    width: 200px;
    margin-left: 20px;

    @media only screen and (max-width: $bp-largest) {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}
