.s-help {
  height: 100vh;
  min-height: 100vh;
  text-align: center;

  &__heading {
    @include ts-heading-1;
    margin-top: 3rem;
  }

  &__content-wrapper {
    width: 90%;
    max-width: 1500px;
    min-width: 900px;
    margin: 2rem auto 0;
    display: flex;

    @media only screen and (max-width: $bp-large) {
      width: 100%;
      padding: 1rem;
    }
  }

  &__guide,
  &__glossary {
    width: 50%;
  }

  &__guide {
    margin: 1rem 2rem 1rem 0;

    @media only screen and (max-width: $bp-largest) {
      margin: 1rem;
    }
  }

  &__glossary {
    margin: 1rem 0 1rem 2rem;

    @media only screen and (max-width: $bp-largest) {
      margin: 1rem;
    }
  }

  &__guide-heading,
  &__glossary-heading {
    @include ts-heading-2;

    & + p,
    & + div {
      margin-top: 4rem;
    }
  }

  &__guide-body,
  &__glossary-body {
    @include ts-body;
    margin-top: 2rem;
    text-align: left;
  }

  &__glossary-body {
    &:first-child {
      margin-top: 0;
    }
  }

  &__guide-img {
    margin-top: 2rem;
    max-width: 100%;
  }

  &__glossary-keyword-wrapper {
    display: flex;
    align-items: center;
    margin-top: 3rem;

    @media only screen and (max-width: $bp-largest) {
      flex-direction: column;
    }
  }

  &__glossary-keyword {
    @include ts-emphasis;
  }

  &__glossary-img {
    height: auto;
    width: 188px;
    margin-left: 2rem;

    @media only screen and (max-width: $bp-largest) {
      margin-left: 0;
      margin-top: 2rem;
    }
  }
}
