.s-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__container {
    // height: 500px;
    padding: 2rem 4rem 4rem;
    width: 500px;
    background-color: $black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 250px;
    height: auto;
  }

  &__form {
    & > * {
      margin-top: 2rem;
    }
  }

  &__form-username-label,
  &__form-password-label {
    display: block;
    @include ts-body;
  }

  &__form-username-input,
  &__form-password-input {
    background-color: $grey-medium;
    border: none;
    border-bottom: 2px solid $grey-light;
    color: $grey-light;
    padding: 0.8rem 1rem;
    &:focus {
      outline: none;
      border-bottom: 2px solid $purple-medium;
    }
  }

  &__form-button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
  }

  &__form-button {
  }
}
