.s-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__container {
    // height: 500px;
    padding: 20px 40px 40px;
    width: 500px;
    background-color: $black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 250px;
    height: auto;
  }

  &__form {
    text-align: left;

    & > * {
      margin-top: 20px;
    }
  }

  &__form-username-label,
  &__form-password-label {
    display: block;
    text-align: left;
    @include ts-body;
  }

  &__form-username-input,
  &__form-password-input {
    max-width: 200px;
  }

  &__form-password-input {
    letter-spacing: 4px;
  }

  &__form-button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__form-button {
    &:first-of-type {
      margin-right: 6px;
    }

    &:last-of-type {
      margin-left: 6px;
    }
  }

  &__form-message {
    margin-top: 30px;
    color: $red-light;
  }
}
