.s-visualisations {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;

  &__heading {
    @include ts-heading-1;
    margin-top: 4rem;
    flex-grow: 0;
  }

  &__grid {
    min-width: 900px;
    min-height: 760px;
    padding: 10px;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;
    flex-grow: 1;

    @media only screen and (max-width: $bp-large) {
      grid-template-rows: repeat(17, 1fr);
    }
  }
}
