.s-visualisations {
  min-height: 100vh;
  min-height: 100svh;
  max-height: 1440px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    .s-visualisations {
      max-height: unset;
    }
  }

  &__heading {
    @include ts-heading-1;
    margin-top: 30px;
    flex-grow: 0;
  }

  &__account-info {
    position: absolute;
    display: flex;
    top: 30px;
    right: 10px;

    @media only screen and (max-width: $bp-medium) {
      top: unset;
      bottom: 20px;
    }
  }

  &__capital,
  &__capital span,
  &__username,
  &__username span {
    @include ts-numerical;
  }

  &__capital,
  &__username {
    margin: 0 10px;
  }

  &__grid-wrapper {
    min-height: 100%;
    flex-grow: 1;
  }

  &__grid {
    min-height: calc(100vh - 60px);
    min-width: 900px;
    padding: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 10px;

    @media only screen and (max-width: $bp-large) {
      grid-template-rows: repeat(17, 1fr);
    }

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
  }
}
