.performance-canvas {
  //   flex-grow: 1;
  //   width: 100%;
  //   min-height: 400px;
  //   height: 100%;
  //   max-height: 50vh;
}

.performance-axis-y,
.performance-axis-x {
  @include ts-numerical;
  font-size: 16px;
}

.performance-circles {
  fill: $grey-dark;
  stroke: $purple-light;
  stroke-width: 2px;
  r: 5px;
}

.performance-line {
  stroke-width: 2px;
  fill: none;
  stroke: $purple-light;
}

.performance-graph-line {
  stroke: $brown-light;
  stroke-width: 1;
}

.performance-axis-odd {
  transform: translate(0, 20px);
}
