@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Spartan:wght@300;600&display=swap');

@mixin font-family-one {
  font-family: 'Spartan', sans-serif;
}

@mixin font-family-two {
  font-family: 'Roboto', sans-serif;
}

// ZONE - headings

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3,
h4,
h5,
h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
button,
a,
p {
  @include font-family-one();
}

label,
button,
a,
p {
  font-size: 16px;
}

input,
td {
  @include font-family-two();
  font-size: 16px;
}

th,
span {
  @include font-family-one();
  font-size: 16px;
}

// ZONE - mixins

@mixin ts-heading-1 {
  font-weight: 400;
  color: $grey-light;
}

@mixin ts-heading-2 {
  font-weight: 400;
  color: $grey-light;
}

@mixin ts-heading-3 {
  font-weight: 400;
  color: $grey-light;
}

@mixin ts-body {
  color: $grey-light;
  line-height: 22px;
}

@mixin ts-emphasis {
  color: $grey-light;
  font-weight: 600;
}

@mixin ts-numerical {
  @include font-family-two();
  color: $grey-light;
  font-weight: 400;
}

@mixin ts-date {
  @include font-family-two();
  color: $grey-light;
  font-weight: 300;
  font-style: italic;
}

@mixin ts-result {
  @include font-family-two();
  font-size: 18px;
}

@mixin ts-loss {
  color: $red-light !important;
  font-weight: 400;
}

.negative {
  @include ts-loss;
}
