// ZONE - colour pallette

$black: #000000;
$grey-dark: #080808;
$grey-medium: #131212;
$grey-light: #aaaaaa;
$red-dark: #0c0a0a;
$brown-light: #1d191d;
$velvet-medium: #302930;
$red-light: #c4456f;
$green-dark: #0a0c0a;
$green-light: #189fae;
$purple-dark: #161216;
$purple-medium: #370943;
$purple-light: #762e88;
$white: #c4c4c4;

// ZONE - responsive

$bp-largest: 87.5em; // 1400px
$bp-large: 75em; // 1200px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
