// ZONE - colour pallette

$black: #000000;
$grey-dark: #080808;
$grey-medium: #0d0d0d;
$grey-light: #aaaaaa;
$red-dark: #0c0a0a;
$red-light: #c4456f;
$green-dark: #0a0c0a;
$green-light: #189fae;
$purple-dark: #161216;
$purple-medium: #370943;
$purple-light: #762e88;
$white: #c4c4c4;
