body {
  min-height: 100vh;
  min-height: 100svh;
  background-color: $black;
}

.container {
  height: inherit;
  max-width: 2560px;
  margin: 0 auto;
}

.background-pattern {
  background: url('../img/carbon-fibre.png');
}

.background-gradient {
  background: $grey-dark;
  background: linear-gradient(
    0deg,
    rgba(#0f0d0f, 1) 0%,
    rgba(#1d181d, 1) 50%,
    rgba(#0f0d0f, 1)
  );
}
