html {
  box-sizing: border-box;
  font-size: 65.5%; // to make 1rem equal 10px
  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  height: 100vh;
  background-color: $black;
}

.container {
  height: 100vh;
  max-width: 2560px;
  margin: 0 auto;
}

.background-pattern {
  background: url('../img/carbon-fibre.png');
}

.background-gradient {
  background: $grey-dark;
  background: linear-gradient(
    0deg,
    rgba(#0f0d0f, 1) 0%,
    rgba(#1d181d, 1) 50%,
    rgba(#0f0d0f, 1)
  );
}
